.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 100vh;
}

.treeLeaf {
  width: 13px;
  height: 20px;
  display: inline-block;
  text-align: center;
}

.blink1 {
  animation: blink 800ms linear infinite;
}
.blink2 {
  animation: blink 1200ms linear infinite;
}
.blink3 {
  animation: blink 1600ms linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
