.visibility-filters {
  display: flex;
  width: 250px;
  justify-content: space-between;
  padding: 20px 10px;
}

.todo-container {
  display: flex;
  width: 400px;
  justify-content: space-between;
  input {
    width: 300px;
  }
}
.todo-item {
  font-family: monospace;
  line-height: 1.5;
  font-size: 20px;
  display: flex;
}
.todo-checkbox {
  cursor: pointer;
  margin-right: 10px;
}

.filter {
  padding: 0.3rem 0;
  margin: 0 0.3rem;
  cursor: pointer;
}
.filter-active {
  border-bottom: 1px solid black;
}
