.movie-search-container {
  text-align: center;
  .search-container {
    display: flex;
    width: 100%;
    justify-content: center;
    input {
      width: 300px;
    }
    button {
      margin-left: 20px;
    }
  }
  .movies {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    .movie {
      margin: 40px;
    }
  }
}
